/* Search */
.navbar-search {
  position: relative;
}
.navbar-search .input-group {
  z-index: 999;
}
.navbar-search .search-results {
  z-index: 999;
  background: #fff;
  border-radius: 0.25rem;
  position: absolute;
  width: 100%;
  top: 40px;
  opacity: 0;
}
/* end of search */