/* Border utility*/
.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #ebeff3 !important;
}

.border-bottom {
  border-bottom: 1px solid #ebeff3 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-0 {
  border-width: 0 !important;
}

.border-2 {
  border-width: 2px !important;
}
/* End of border utility */
